.game_item {
  width: 320px;
  height: 300px;
  background-color: rgb(36, 37, 41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.game_item .title {
  font-size: 18px;
  font-weight: bold;
}
.game_item .render {
  margin-top: 10px;
}
.game_item .details {
  padding: 10px 20px;
}
.game_item .description {
  margin-top: 10px;
  font-size: 14px;
}
.game_item .buy {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
