.card_item {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-radius: 5px;
  border: 1px solid rgb(85, 88, 237);
}
.card_item .div {
  height: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}
.card_item .image {
  padding: 10px;
  display: flex;
  align-items: center;
}
.card_item img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 10px 15px black;
}
.card_item .price {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.card_item .title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete_icon {
  margin-left: 5px;
  cursor: pointer;
}
