* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(25, 26, 28);
}
.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: white;
  padding-bottom: 100px;
}
a {
  color: white;
  text-decoration: none;
}
